.intro {
  background: var(--color-theme-highlight-block);
  background-image: url(/images/intro.jpg);
  background-position: center;
  background-size: cover;

  & > div {
    background: var(--color-intro-bg);
  }

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ex;
    color: var(--color-theme-feature-text);

    &--compact {
      max-width: 20ex;
    }
  }
}
